#capetiens { /*presentation index*/
    color: blanchedalmond;
    text-align: justify;
    margin: auto;
    line-height: 170%;
    font-size: 1.5rem;

}
#capetiens::first-letter {
    font-size: 300%;
}
.expand::first-letter {
    font-size: 300%;
}
article { /***articles*****/
    width: 100%;
    padding-top: 5rem;
    margin-bottom: 10em;
    margin-left: 8em;
    width: 60vw;
    color: blanchedalmond;
    text-align: justify;
    margin: auto;
    line-height: 170%;
    font-size: 1.5rem;

}

h2 {
    color: lightcoral;
    display: inline;
}
.imageParag { /*images articles*/
    float: left;
    height: 20vh;
    width: 15vw;
    padding: 1rem;
}