#adhesion {
    text-decoration: none;
    color: aliceblue;
    background: rosybrown;
    float: right;
}

form {
    border: 2px;
    padding: 20px;
}

#form {
    border-top: 3px solid grey;
    margin: 10%;
}

label {
    color: #fff;
    font-weight: bold;
}

#form1 {
    float: right;
    color: red;
    font-weight: bold;
}

input,
textarea {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;

}
#envoyer{
    height: 6vh;
    width: 10vw;
    margin-top: 5%;
    color: #495057;
    font-weight: bold;
}
