
nav>div {
    height: 40px;
    color:azure;
    font-weight: bold;
    margin-bottom: 10%;
    font-size: 1.5rem;
}
#js-menu{
    border-bottom: 1px solid lightgray;
    padding: 5px;
}

.nav-item {
    padding: 8px;
    text-decoration: none;
}
.nav-item:visited {
    color: inherit;
}
.nav-item:hover {
    background-color: lightgray;
}



@media (max-width: 600px) {
   
}
