body {
    margin: 0;
    background-image: url("bg.jpg")
}
main {
    width: 70%;
    margin: auto;
    padding: 25px;
}
#adherer{
    color: azure;
    float: right;
    font-size: 1.5rem;
}
#horloge{
    font-size: 1.5rem;
}

/*******header*******/
h1 {
    color: aliceblue;
    font-size: 3em;
    margin: auto;
    text-align: center;
    padding: 3rem;
}

/*******afficher plus*********/
.collapse {
    display: none;
}

.expand {
    display: block;
    margin-top: 5%;
}

.show-more {
    color: blue;
}
/**********footer********/
footer {
    text-align: center;
    
    color: blanchedalmond;
}
#confirmation{
    color: darksalmon;
    font-size: 5rem;
    text-align: center;
}

