#slide {
    width: 70%;
    height: 60vh;
    filter: drop-shadow(0 0 0.75rem rgb(160, 35, 60));
    border: white 5px solid;
    margin: auto;
}

.slider-show i {
    border: grey 1px solid;
    border-radius: 50%;
}

#slide img {
    width: 100%;
    height: 100%;
    -webkit-transition: opacity 1s ease-in-out 2s;
    -moz-transition: opacity 1s ease-in-out 2s;
    -o-transition: opacity 1s ease-in-out 2s;
    transition: opacity 1s ease-in-out 2s;
}

.slider-show {
    display: flex;
    align-items: center;
}