<div>
    <span id="horloge"> <a class="nav-item"><i class="fa fa-clock" id="horloge"></i> </a></span>
    <span id="adherer"> <a class="nav-item" href="/adhesion"><i class="fa fa-user"></i> Adhésion</a></span>
</div>
<h1>La Dynastie</h1>