<nav>
    <div id="sandwich">
        <ul class="main-nav" id="js-menu">
        <a class="nav-item" onclick="activate(event)" href="/">Accueil</a>
        <a class="nav-item" onclick="activate(event)" href="/hugues-capet">Hugues Capet</a>
        <a class="nav-item" onclick="activate(event)" href="/louis-ix">Louis IX</a>
        <a class="nav-item" onclick="activate(event)" href="/philippe-auguste">Philippe Auguste</a>
        <a class="nav-item" onclick="activate(event)" href="/philippe-lebel">Philippe Le Bel</a>
    </ul>
    </div>
</nav>
>