<!--
 <section id="slides">
            <button class="display-left" onclick="showPreviousSlide()">
                <i class="fa fa-chevron-left"></i>
            </button>
            <button class="display-right" onclick="showNextSlide()">
                <i class="fa fa-chevron-right"></i>
            </button>
            <div id="slide-count"></div>
            <a id = "adhesion" href= "/adhesion" >Adhésion</a>
</section>
-->

    
     
        <div id="slide"></div>
        
    
