<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="slide.css">
    <link rel="stylesheet" href="articles.css">
    <link rel="stylesheet" href="formulaire.css">
    <link rel="stylesheet" href="site.css">
    <link rel="stylesheet" href="nav.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
        integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous" />
    <title>Les capétiens</title>
</head>
<body>
    <% include partials/header %>
    <% include partials/nav %>
    <main>
        <%- include("pages/" + page) %>
    </main>
    <% include partials/footer %>
    <script src="site.js"></script>
    <script src="slides.js"></script>
</body>

</html>