<form method="POST" action="/adhesion">

    <div id="form">
        <h2>Formulaire d’adhésion</h2>
        <p>
            <label for="name">Nom</label>
            <br>
            <input type="text" name="nom" required>
            <br>
            <label for="name">Prénom</label>
            <br>
            <input type="text" name="prenom" required>
            <br>
            <label for="date">Date de naissance</label>
            <br>
            <input type="date" name="date" required>
            <br>
            <label for="adresse">Adresse</label>
            <br>
            <input name="adresse" required>
            <br>
            <label for="ville">Ville</label>
            <br>
            <input type="text" name="ville" required>
            <br>
            <label for="name">Code postal</label>
            <br>
            <input type="number" name="code_postal" required maxlength="5">
            <br>
            <label for="mail">Adresse mail</label>
            <br>
            <input type="email" required>
            <br>
            <label for="telephone">Telephone</label>
            <br>
            <input type="number" required maxlength="10">
            <input id="envoyer" type="submit" value="Envoyer">
        </p>
    </div>
    
</form>